langchain
langchain-community
langchain-huggingface

sentence-transformers
transformers
beautifulsoup4

llama-cpp-python==0.2.72

torch
torchvision
torchaudio

qdrant-client

gunicorn
numpy==1.26.4
pandas==1.5.3
scikit-learn==1.2.2
ml-dtypes==0.5.1
tensorflow

huggingface-hub
tf-keras
protobuf
gTTS

flask